appdirs
beautifulsoup4
black
bs4
cachetools
certifi
chardet
charset-normalizer
click
cssselect
cssutils
cycler
dateutils
exceptiongroup
frozendict
futures
goslate
h11
html2text
html5lib
idna
joblib
kiwisolver
lxml
matplotlib
multitasking
mypy-extensions
nsetools
numpy
outcome
pandas
pandas-datareader
pathspec
Pillow
premailer
PyDictionary
PySocks
pytz
requests
scrabble
seaborn
scikit-learn
sniffio
sortedcontainers
soupsieve
threadpoolctl
tomli
trio
trio-websocket
typed-ast
urllib3
wsproto
yagmail
yfinance
